.wrapper {
  max-width: 80%;
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
.obi_van,
.film_four {
  width: 50%;
  margin-right: 20px;
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  background-color: rgb(241 243 244);
  border-radius: 20px;
  height: fit-content;
}
.hero,
.episode {
  font-size: 50px;
  font-weight: 600;
  color: #1b14ed85;
  text-align: center;
}
.wrapper_arr {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.films,
.vehicles,
.starships,
.characters {
  text-align: left;
}
